<!DOCTYPE html>
<html lang="en">
<head>
    <title>Explore the world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
	<body>
		<header class="center_padding">
			<div class="logo">
				<a href="../index.html"><img src="../images/explroe_the_world.png"></a>
			</div>
            <div class="top-nav">
                <ul class="nav-links">
                    <li><a href="views/regions.html">Regions</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="plans.html">Plans</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                </ul>
            </div>	
		</header>
		
		<section class="section_1 africa featured-article">
		</section>
		
		<div class="contact_section detail-destination">
			<div class="main_heading">Best Destinations of Africa</div>
		</div>
		
		<div class="images-container center_padding">
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/ancient-wonders-of-the-nile.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/bazaruto-archipelago.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/draa-valley-morocco.jpg" width="400px" height="224"  />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/flamingos-kenya.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/lake-malawi-national-park.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/mount-kilimanjaro.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/nxai-pan-national-park.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/pyramids-of-egypt.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/royalzambezilodge.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/sahara-desert-camel-caravan.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/serengeti-migration.jpg" width="400px" height="224" />
				</div>
			</div>
			
			<div class="image-container">
				<div class="actual-container">
					<img src="../images/spitzkoppe.jpg" width="400px" height="224" />
				</div>
			</div>
			
		</div>
		
		<footer class="center_padding">
			<ul class="regions">
				<h3>Regions</h3>
				<li><a href="europe.html">Places in Europe</a></li>
				<li><a href="asia.html">Places in Asia</a></li>
				<li><a href="africa.html">Places in Africa</a></li>
				<li><a href="southAmerica.html">Places in South America</a></li>
				<li><a href="northAmerica.html">Places in North America</a></li>
				<li><a href="australia.html">Places in Australia</a></li>
			</ul>
			
			<ul class="activities">
				<h3>Activities</h3>
				<li><a href="#">Polar Voyages</a></li>
				<li><a href="#">Single Holidays</a></li>
				<li><a href="#">Wildlife Trips</a></li>
				<li><a href="#">Group Cycling</a></li>
			</ul>
			
			<ul class="links">
				<h3>Important Links</h3>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="offers.html">Discounts and Offers</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="destinations.html">Destination to Explore</a></li>
			</ul>
			
			<div class="book">
				<img src="../images/explore.jpg" width="240" height="320" />
				<a href="#" class="custom-btn">Order Now</a>
			</div>
			
			<ul class="social_links">
				<h3>Keep up to date</h3>
				<p class="info"><i>Sign up to our newsletter for latest news, deals and travel information</i></p>
				<a href="#"> Click to Subscribe</a>
				<li><a href="https://www.facebook.com/" target="_blank"><img src="../images/fb.png" width="45" height="45" /></a></li>
				<li><a href="https://twitter.com/" target="_blank"><img src="../images/twitter.png" width="45" height="45" /></a></li>
				<li><a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png" width="45" height="45" /></a></li>
				<li><a href="https://www.youtube.com/" target="_blank"><img src="../images/youtube.png" width="45" height="45" /></a></li>
			</ul>
			
		</footer>
		
	</body>
</html>