<!DOCTYPE html>
<html lang="en">
<head>
    <title>Explore the world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header class="center_padding">
        <div class="logo">
            <a href="../index.html"><img src="../images/explroe_the_world.png"></a>
        </div>
        <div class="top-nav">
            <ul class="nav-links">
                    <li><a href="regions.html">Regions</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="plans.html">Plans</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>

        </div>
    </header>

    <section class="section_1 contact featured-article"></section>

    <div class="contact_section ">
        <div class="main_heading">Contact Us</div>

        <div class="sub_heading">Call us at - 514 335 5555</div>
        <div class="sub_heading">Email: <a class="email" href="mailto:isi@explore.com">travel@explore.com</a></div>

        <div style="margin: 0 auto; clear: both; width:660px;">

            <div style="width: 100%">
                <iframe width="200px" height="200px"
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=45.4448111, -73.6850113&amp;
q=sherbrooke%2C%20montreal+(Restaurant%20chinois)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="float:right" ;></iframe>
            </div><br />

            <address>
                Institute Superior d'Informatique <br>
                Telephone : (514) 123-8888<br>
                Mail to: <a href="mailto:isi@papineau.com">isipapineau@college.com </a><br>
                Visit us at:<br>
                isimontreal.com<br>
                1234 papineau<br>
                Montreal, QC<br>
                H3H 1D1<br>
            </address>

        </div>

        <h2 class="sub_heading">
            Get in touch with us</h3>

            <!--
        <div class="form_section center_padding">
            <div class="form-text">
                <div class="x-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

                    <p><strong>Ask how we can help you:</strong></p>

                    <ul>
                        <li><strong>See our platform in action&nbsp;</strong>|&nbsp Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>

                        <li><strong>See our platform in action&nbsp;</strong>|&nbsp Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>

                        <li><strong>See our platform in action&nbsp;</strong>|&nbsp Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                    </ul>
                    <p>Ready to chat? Fill out the form on your right to start the conversation.</p>
                </div>
            </div>
            -->
            <div class="form">
                <form method="post">
                    <label for="fname">User Name</label>
                    <input type="text" id="fname" name="username" placeholder="username.." required maxlength="50" size="20" autofocus>

                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name.." required maxlength="50" size="20" autofocus>

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="age">Age</label>
                    <input type="number" name="age" min="18" max="200" placeholder="Your Age.."/>

                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phoneno" placeholder="Your phone number..">

                    <label for="postal">Postal code</label>
                    <input type="text" name="state" placeholder="ex A1B-2C3" maxlength="7"
                           pattern="^([A-Za-z]\d[A-Za-z][-]?\d[A-Za-z]\d)">

                    <label for="email">Email Address</label>
                    <input type="email" id="" name="email" placeholder="Your email address.." required>

                    <label for="country">Country</label>
                    <select id="country" name="country" required>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="gender">SEX</label>
                    <input type="radio" name="gender" value="male">Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>

                    <label for="activities">Activities</label>
                    <input type="checkbox" name="Polar Voyages" value="Polar Voyages"> Polar Voyages<br>
                    <input type="checkbox" name="Wildlife Trips" value="Wildlife Trips"> Wildlife Trips<br>
                    <input type="checkbox" name="Group Cycling" value="Group Cycling" checked> Group Cycling<br>
                    <input type="checkbox" name="Single Holidays" value="Single Holidays"> Single Holidays<br>

                    <label for="comments">Comments</label>
                    <textarea rows="4" cols="50" placeholder="Enter your queries.." required>
					</textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
    </div>
    </div>




    <footer class="center_padding">
        <ul class="regions">
            <h3>Regions</h3>
            <li><a href="europe.html">Places in Europe</a></li>
            <li><a href="asia.html">Places in Asia</a></li>
            <li><a href="africa.html">Places in Africa</a></li>
            <li><a href="southAmerica.html">Places in South America</a></li>
            <li><a href="northAmerica.html">Places in North America</a></li>
            <li><a href="australia.html">Places in Australia</a></li>
        </ul>

        <ul class="activities">
            <h3>Activities</h3>
            <li><a href="#">Polar Voyages</a></li>
            <li><a href="#">Single Holidays</a></li>
            <li><a href="#">Wildlife Trips</a></li>
            <li><a href="#">Group Cycling</a></li>
        </ul>

        <ul class="links">
            <h3>Important Links</h3>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="offers.html">Discounts and Offers</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="destinations.html">Destination to Explore</a></li>
        </ul>

        <div class="book">
            <img src="../images/explore.jpg" width="240" height="320" />
            <a href="#" class="custom-btn">Order Now</a>
        </div>

        <ul class="social_links">
            <h3>Keep up to date</h3>
            <p class="info"><i>Sign up to our newsletter for latest news, deals and travel information</i></p>
            <a href="#"> Click to Subscribe</a>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="../images/fb.png" width="45" height="45" /></a></li>
            <li><a href="https://twitter.com/" target="_blank"><img src="../images/twitter.png" width="45" height="45" /></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png" width="45" height="45" /></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><img src="../images/youtube.png" width="45" height="45" /></a></li>
        </ul>

    </footer>

</body>
</html>