<!DOCTYPE html>
<html lang="en">
<head>
    <title>Explore the world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
    <body>
        <header class="center_padding">
            <div class="logo">
                <a href="../index.html"><img src="../images/explroe_the_world.png"></a>
            </div>
            <div class="top-nav">
                <ul class="nav-links">
                    <li><a href="regions.html">Regions</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="plans.html">Plans</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                </ul>

            </div>
        </header>

        <section class="section_1 destinations featured-article"></section>

        <section class="section_2 center_padding">
            <div class="detail_description">
                <h1><span>Africa<span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                </p>
                <div class="destination-detail">
                    <div class="price"><span><b>Price stars from</b></span><br />US$1400</div>
                    <div class="trip_length"><span><b>Days</b></span><br />8 Days</div>
                    <div class="flight-details">Flights are not included</div>
                </div>
                <a href="africa.html" class="custom-btn">More Info</a>
            </div>
            <div class="desription_image">
                <img src="../images/africa-animal.jpg" width="659">
            </div>
        </section>

        <section class="section_2 center_padding">
            <div class="detail_description">
                <h1><span>Australia<span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                </p>
                <div class="destination-detail">
                    <div class="price"><span><b>Price stars from</b></span><br />US$1400</div>
                    <div class="trip_length"><span><b>Days</b></span><br />8 Days</div>
                    <div class="flight-details">Flights are not included</div>
                </div>
                <a href="australia.html" class="custom-btn">More Info</a>
            </div>
            <div class="desription_image">
                <img src="../images/kangaroos.jpg" width="659">
            </div>
        </section>

        <section class="section_2 center_padding">
            <div class="detail_description">
                <h1><span>Asia<span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                </p>
                <div class="destination-detail">
                    <div class="price"><span><b>Price stars from</b></span><br />US$1400</div>
                    <div class="trip_length"><span><b>Days</b></span><br />8 Days</div>
                    <div class="flight-details">Flights are not included</div>
                </div>
                <a href="asia.html" class="custom-btn">More Info</a>
            </div>
            <div class="desription_image">
                <img src="../images/the-great-wall.jpg" width="659">
            </div>
        </section>

        <section class="section_2 center_padding">
            <div class="detail_description">
                <h1><span>Europe<span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                </p>
                <div class="destination-detail">
                    <div class="price"><span><b>Price stars from</b></span><br />US$1400</div>
                    <div class="trip_length"><span><b>Days</b></span><br />8 Days</div>
                    <div class="flight-details">Flights are not included</div>
                </div>
                <a href="europe.html" class="custom-btn">More Info</a>
            </div>
            <div class="desription_image">
                <img src="../images/colosseum.jpg" width="659">
            </div>
        </section>

        <section class="section_2 center_padding">
            <div class="detail_description">
                <h1><span>North America<span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                </p>
                <div class="destination-detail">
                    <div class="price"><span><b>Price stars from</b></span><br />US$1400</div>
                    <div class="trip_length"><span><b>Days</b></span><br />8 Days</div>
                    <div class="flight-details">Flights are not included</div>
                </div>
                <a href="northAmerica.html" class="custom-btn">More Info</a>
            </div>
            <div class="desription_image">
                <img src="../images/north_america.jpg" width="659">
            </div>
        </section>

        <section class="section_2 center_padding">
            <div class="detail_description">
                <h1><span>South America<span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                </p>

                <div class="destination-detail">
                    <div class="price"><span><b>Price stars from</b></span><br />US$1400</div>
                    <div class="trip_length"><span><b>Days</b></span><br />8 Days</div>
                    <div class="flight-details">Flights are not included</div>
                </div>
                <a href="southAmerica.html" class="custom-btn">More Info</a>
            </div>
            <div class="desription_image">
                <img src="../images/south_america.jpg" width="659">
            </div>
        </section>
        <section class="section_2 center_padding">
            <iframe style="float:left" width="500" height="300" src="https://www.youtube.com/embed/yQCpe8ArgYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe style="float:right" width="500" height="300" src="https://www.youtube.com/embed/0GZSfBuhf6Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <footer class="center_padding">
            <ul class="regions">
                <h3>Regions</h3>
                <li><a href="europe.html">Places in Europe</a></li>
                <li><a href="asia.html">Places in Asia</a></li>
                <li><a href="africa.html">Places in Africa</a></li>
                <li><a href="southAmerica.html">Places in South America</a></li>
                <li><a href="northAmerica.html">Places in North America</a></li>
                <li><a href="australia.html">Places in Australia</a></li>
            </ul>

            <ul class="activities">
                <h3>Activities</h3>
                <li><a href="#">Polar Voyages</a></li>
                <li><a href="#">Single Holidays</a></li>
                <li><a href="#">Wildlife Trips</a></li>
                <li><a href="#">Group Cycling</a></li>
            </ul>

            <ul class="links">
                <h3>Important Links</h3>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="offers.html">Discounts and Offers</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="destinations.html">Destination to Explore</a></li>
            </ul>

            <div class="book">
                <img src="../images/explore.jpg" width="240" height="320" />
                <a href="#" class="custom-btn">Order Now</a>
            </div>

            <ul class="social_links">
                <h3>Keep up to date</h3>
                <p class="info"><i>Sign up to our newsletter for latest news, deals and travel information</i></p>
                <a href="#"> Click to Subscribe</a>
                <li><a href="https://www.facebook.com/" target="_blank"><img src="../images/fb.png" width="45" height="45" /></a></li>
                <li><a href="https://twitter.com/" target="_blank"><img src="../images/twitter.png" width="45" height="45" /></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png" width="45" height="45" /></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><img src="../images/youtube.png" width="45" height="45" /></a></li>
            </ul>

        </footer>

    </body>
</html>